<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Productos</title>
</head>

<body>
    <h1>Lista de Productos</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Precio</th>
                <th>cantidad</th>
            </tr>
        </thead>
        <tbody>
            {% for producto in productos %}
            <tr>
                <td>{{ producto['id'] }}</td>
                <td><a href="/producto/{{ producto['id'] }}">{{ producto['nombre'] }}</a></td>
                <td>${{ '{:.2f}'.format(producto['precio_venta']) }}</td>
                <td>{{ producto['cantidad'] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>

</html>